*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 375px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img {
  width: 100%;
}

.container {
  margin: 0 25px;
}

/* Card Header */
.card-header {
  height: 200px;
  background: url('../images/bg-main-mobile.png') center center / cover;
}
.card-header .container {
  position: relative;
  padding: 25px 0;
}
.card-header .bg-card-back,
.card-header .bg-card-front {
  width: 260px;
  position: absolute;
}
.card-header .bg-card-back {
  right: 0px;
}
.card-header .bg-card-front {
  left: 0;
  top: 105px;
}
.bg-card-back .cvc {
  color: aliceblue;
  font-size: 0.7rem;
  position: absolute;
  top: 47%;
  right: 35px;
  transform: translateY(-47%);
}
.bg-card-front .rounds {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 15px;
}
.rounds .round-1,
.rounds .round-2 {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: aliceblue;
}
.rounds .round-2 {
  width: 12px;
  height: 12px;
  background-color: transparent;
  border: 1px solid aliceblue;
}

.card-info {
  color: aliceblue;
  font-size: 1.1rem;
  position: absolute;
  top: 75px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-holder-name {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
}
.card-exp-date {
  font-size: 0.7rem;
  position: absolute;
  top: 35px;
  right: -10px;
}

