@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --linear-gradient-input-active: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --input-error: hsl(0, 100%, 66%);
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  min-height: 100vh;
  min-width: 375px;
  font-family: 'Space Grotesk', sans-serif;
}
img {
  width: 100%;
}
.container {
  max-width: 1440px;
  margin: auto;
  padding: 25px;
}

/* Card Header */
.card-header {
  height: 210px;
  padding: 0 25px;
  background: url('../images/bg-main-mobile.png') center center / cover;
  margin-bottom: 55px;
}
.card-header .container {
  position: relative;
  max-width: 325px;
}
.card-back,
.card-front {
  position: absolute;
  width: 260px;
  height: 145px;
  border-radius: 10px;
}
.card-back {
  right: 0px;
  background: url('../images/bg-card-back.png') center center / cover no-repeat;
}
.card-cvc {
  color: var(--white);
  font-size: 0.6rem;
  position: absolute;
  top: 49%;
  right: 35px;
  transform: translateY(-47%);
}
.card-front {
  left: 0;
  top: 105px;
  background: url('../images/bg-card-front.png') center center / cover no-repeat;
}
.rounds {
  padding: 15px;
}
.rounds img {
  width: 30px;
}
.card-info {
  margin-top: 15px;
  color: var(--white);
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card-info div:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-holder-name {
  font-size: 0.7rem;
  text-transform: uppercase;
}
.card-exp-date {
  font-size: 0.6rem;
}

/* Card Input */
.card-form {
  background-color: var(--white);
}
.card-form form.active {
  display: none;
}
.card-form form .container,
.card-complete .container {
  width: 375px;
  margin: 0 auto;
}
.card-form-input-wrapper {
  margin-bottom: 25px;
  font-size: 0.8rem;
}
.card-form-label {
  display: block;
  margin-bottom: 10px;
}
.card-form-input {
  display: inline-block;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 2px solid var(--light-grayish-violet)
}
.card-form-input:focus {
  outline: 0;
  border: 1px solid var(--very-dark-violet)
}
.card-form-input::placeholder {
  color: var(--light-grayish-violet);
  font-size: 1rem;
  font-weight: 500;
}
.card-form-input-date-wrapper {
  display: flex;
  gap: 15px;
}
.card-form-input-date-wrapper .card-form-input-wrapper:first-child {
  flex-basis: 50%;
}
.card-form-input.month,
.card-form-input.year {
  width: 48%;
}
.card-form-submit,
.card-form-button {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  font-family: inherit;
  font-size: 0.9rem;
  color: var(--white);
  background-color: var(--very-dark-violet);
  cursor: pointer;
}
.invalid {
  border: 1px solid var(--input-error)
}
.card-form-input.invalid:focus {
  outline: 0;
  border: 1px solid var(--input-error)
}

/* Card Sidebar */
.card-form-sidebar {
  display: none;
}

/* Card Complete */
.card-complete {
  display: none;
  text-align: center;
}
.card-complete.active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-complete img {
  width: 70px;
  margin-bottom: 25px;
}
.card-complete h2 {
  margin-bottom: 15px;
}
.card-complete p {
  margin-bottom: 35px;
  color: var(--dark-grayish-violet);
}

@media (min-width: 920px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-grayish-violet);
  }
  .card-header {
    display: none;
  }
  .card-form {
    min-width: 920px;
    display: flex;
    justify-content: space-between;
  }
  .card-form-sidebar {
    display: block;
    width: 250px;
    height: 500px;
    padding: 25px 0;
    background: url('../images/bg-main-desktop.png') center center / cover no-repeat;
  }
  .card-form-sidebar .container {
    position: relative;
    top: 10%;
  }
  .card-form-sidebar .card-back {
    top: 180px;
    right: -100px;
  }
  .card-form-sidebar .card-front {
    top: 20px;
    left: 50px;
  }
  .card-form form .container {
    margin-top: 55px;
    margin-right: 75px;
  }
  .card-complete.active {
    margin-right: 105px;
  }
}
